In [1]:
import yfinance

In [3]:
# Define the ticker list
import pandas as pd
tickers_list = ['AAPL', 'WMT', 'IBM', 'MU', 'BA', 'AXP','']

# Fetch the data
import yfinance as yf
data = yf.download(tickers_list,'2015-1-1')['Adj Close']

# Print first 5 rows of the data
print(data.head())

[*********************100%***********************]  7 of 7 completed

1 Failed download:
- : No timezone found, symbol may be delisted
                              AAPL        AXP          BA         IBM  \
Date
2015-01-02 00:00:00 NaN  24.603201  82.486221  113.657227  109.477051
2015-01-05 00:00:00 NaN  23.910097  80.304810  112.870049  107.754448
2015-01-06 00:00:00 NaN  23.912350  78.593346  111.540634  105.430588
2015-01-07 00:00:00 NaN  24.247648  80.309837  113.272385  104.741531
2015-01-08 00:00:00 NaN  25.179300  81.448227  115.275284  107.018066

                            MU        WMT
Date
2015-01-02 00:00:00  34.476841  72.252907
2015-01-05 00:00:00  33.514462  72.042610
2015-01-06 00:00:00  32.611622  72.597755
2015-01-07 00:00:00  31.847668  74.523941
2015-01-08 00:00:00  33.405323  76.096870

In [ ]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("^NSEI", start="2017-01-01", end="2017-04-30")
data

In [23]:

# data = yf.download(tickers="^NSEI", period="10d", interval="1m")
# data
from datetime import datetime
from datetime import timedelta
exit =0
while(exit!=1):
    exit =0
    start_date= datetime(2022,10,10)
    start = str(start_date)[:10]
    end_date = start_date+ timedelta(5)
    if end_date >= datetime.now():
        end_date = datetime.now()
        exit = 1
    end = str(end_date)[:10]
    data = pdr.get_data_yahoo("^NSEI", start=start, end=end,interval="1m")
    print(data)
    start_date = end_date
    if exit==1:
        break

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ^NSEI: 1m data not available for startTime=1665340200 and endTime=1665772200. The requested range must be within the last 30 days.

NameError: name 'daata' is not defined

In [7]:
import csv
import requests
ALPHAVANTAGE='V3KS75NGJJS6P021'
yr=[]
for a in range(1,3):
    for b in range(1,13):
        time_period = f'year{a}month{b}'
        yr.append(time_period)
yr

['year1month1',
 'year1month2',
 'year1month3',
 'year1month4',
 'year1month5',
 'year1month6',
 'year1month7',
 'year1month8',
 'year1month9',
 'year1month10',
 'year1month11',
 'year1month12',
 'year2month1',
 'year2month2',
 'year2month3',
 'year2month4',
 'year2month5',
 'year2month6',
 'year2month7',
 'year2month8',
 'year2month9',
 'year2month10',
 'year2month11',
 'year2month12']

In [29]:
from time import sleep
y = 'year1month1'
# CSV_URL = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY_EXTENDED&symbol=AAPL&interval=1min&slice={y}&apikey='+ALPHAVANTAGE
dat = requests.get(CSV_URL)

In [31]:
# dat.content

In [11]:
for y in yr:
    CSV_URL = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY_EXTENDED&symbol=NIFTY50&interval=1min&slice={y}&apikey='+ALPHAVANTAGE
    sleep(20)
    with requests.Session() as s:
        download = s.get(CSV_URL)
        decoded_content = download.content.decode('utf-8')
        cr = csv.reader(decoded_content.splitlines(), delimiter=',')
        my_list = list(cr)
        for row in my_list:
            print(row)

['time', 'open', 'high', 'low', 'close', 'volume']
['time', 'open', 'high', 'low', 'close', 'volume']

KeyboardInterrupt:

In [32]:
import dask
from dask.distributed import Client
import dask.dataframe as dd
from datetime import datetime
import numpy as np
import pandas as pd
from tqdm import trange,tqdm
# client = Client(n_workers=10, threads_per_worker=2)

In [2]:
import os
PATH='/home/u170690/MLOP3N/d1/src/'

files = [PATH+fp for fp in os.listdir('d1/src') if '_minute_' in fp]
files_ = [PATH+fp for fp in os.listdir('d1/src') if '_minute_' in fp]
master_df = dd.read_csv(files[0])
files.pop(0)

'd1/src/ADANIPORTS_minute_data.csv'

In [3]:
## DD read_all()
PATH='d1/src/'

dB = dd.read_csv(PATH+'*_15minute_data.csv',include_path_column=True)

import warnings
warnings.filterwarnings('ignore')
# dB.head()
dB = dB.drop(columns='Unnamed: 0',axis=0)

def clean_data(row):
#     global errors
    row= row[28:-16]
    return row

dB['path'] = dB['path'].map(clean_data)
dB.persist()

Dask DataFrame Structure:
                   date    close     high      low     open volume             path
npartitions=101
                 object  float64  float64  float64  float64  int64  category[known]
                    ...      ...      ...      ...      ...    ...              ...
...                 ...      ...      ...      ...      ...    ...              ...
                    ...      ...      ...      ...      ...    ...              ...
                    ...      ...      ...      ...      ...    ...              ...
Dask Name: assign, 1 graph layer

In [ ]:
# for s in dB.date:
#     print(s)
#     break

from numba import jit
import pandas as pd
@jit
def conv(x):
    yt = pd.to_datetime(x,infer_datetime_format=True,utc=False,errors='ignore')
    return yt

In [ ]:
y = pd.to_datetime(dB['date'],infer_datetime_format=True,utc=False,errors='ignore')

In [4]:
df = dB.compute()

In [ ]:
df['date'] = y

In [5]:
df.shape

(4144747, 7)

In [ ]:
dB['date'] = pd.to_datetime(dB['date'],infer_datetime_format=True,utc=False,errors='ignore')

In [6]:
%%time

m= df['date']
# y = pd.to_datetime(m,infer_datetime_format=True,utc=False,errors='ignore')
n =  3389 #chunk row size
list_df = [m[i:i+n] for i in range(0,df.shape[0],n)]

CPU times: user 163 ms, sys: 2.95 ms, total: 166 ms
Wall time: 162 ms

In [9]:
y = pd.Series()
for i in tqdm(list_df):
    tmp = pd.to_datetime(i,infer_datetime_format=True,utc=False,errors='ignore')
    y = pd.concat([y,tmp],axis=0)

100%|██████████| 1223/1223 [09:16<00:00,  2.20it/s]

In [26]:
def conv_date(df):
    df['date'] =  pd.to_datetime(df['date'],infer_datetime_format=True,utc=False,errors='ignore')
    return df

In [29]:
ty = dB.map_partitions(conv_date).compute()

KeyboardInterrupt

In [3]:
df_ = pd.read_parquet('/home/u170690/d1_15_min.parquet')

,date,close,high,low,open,volume,path
index,,,,,,,
0,2015-02-02 08:45:00+05:00,1541.85,1556.70,1536.05,1554.90,15738,ACC_1
1,2015-02-02 09:00:00+05:00,1542.35,1549.90,1540.50,1541.05,13350,ACC_1
2,2015-02-02 09:15:00+05:00,1546.30,1549.20,1541.05,1542.35,8198,ACC_1
3,2015-02-02 09:30:00+05:00,1545.25,1549.95,1544.80,1547.30,6736,ACC_1
4,2015-02-02 09:45:00+05:00,1541.60,1548.00,1540.35,1545.20,2590,ACC_1
...,...,...,...,...,...,...,...
43395,2022-10-11 13:45:00+05:00,16.25,16.30,16.20,16.30,1321257,YESBANK_1
43396,2022-10-11 14:00:00+05:00,16.25,16.30,16.20,16.20,1088029,YESBANK_1
43397,2022-10-11 14:15:00+05:00,16.10,16.25,16.10,16.25,2795312,YESBANK_1
43398,2022-10-11 14:30:00+05:00,16.15,16.20,16.05,16.15,5400733,YESBANK_1
43399,2022-10-11 14:45:00+05:00,16.15,16.20,16.10,16.15,6851137,YESBANK_1

In [61]:
df = pd.read_csv('d2/src/ADANIENT_minute_data_with_indicators.csv')

In [64]:
df['date']

0        2015-02-02 10:18:00+05:30
1        2015-02-02 10:19:00+05:30
2        2015-02-02 10:20:00+05:30
3        2015-02-02 10:21:00+05:30
4        2015-02-02 10:22:00+05:30
                    ...
660471   2022-10-24 19:10:00+05:30
660472   2022-10-24 19:11:00+05:30
660473   2022-10-24 19:12:00+05:30
660474   2022-10-24 19:13:00+05:30
660475   2022-10-24 19:14:00+05:30
Name: date, Length: 660476, dtype: datetime64[ns, pytz.FixedOffset(330)]

In [10]:
df

,date,close,high,low,open,volume,sma5,sma10,sma15,sma20,...,fastd,fastksr,fastdsr,ULTOSC,WILLR,ATR,Trange,TYPPRICE,HT_DCPERIOD,BETA
0,2015-02-02 10:18:00+05:30,1544.00,1545.00,1543.10,1545.00,220,1544.94,1545.890,1546.756667,1546.9950,...,31.307634,0.000000,8.760123e+00,43.728004,-86.466165,2.056306,2.10,1544.033333,27.840336,0.138547
1,2015-02-02 10:19:00+05:30,1543.70,1544.00,1543.00,1544.00,29,1544.63,1545.545,1546.446667,1546.8650,...,23.381708,0.000000,4.380062e+00,47.390635,-89.629630,1.980855,1.00,1543.566667,27.115144,0.094738
2,2015-02-02 10:20:00+05:30,1543.00,1543.70,1542.50,1543.70,28,1544.22,1545.205,1546.013333,1546.5800,...,15.620034,0.000000,1.184238e-15,43.139523,-92.857143,1.925080,1.20,1543.066667,26.735549,0.336124
3,2015-02-02 10:21:00+05:30,1542.30,1543.00,1542.30,1543.00,125,1543.64,1544.635,1545.533333,1546.3950,...,9.497585,0.000000,1.184238e-15,44.657886,-100.000000,1.837574,0.70,1542.533333,26.601907,0.608042
4,2015-02-02 10:22:00+05:30,1542.10,1542.15,1541.10,1541.10,113,1543.02,1544.235,1545.143333,1546.0725,...,13.377926,0.000000,1.184238e-15,54.066603,-86.111111,1.792033,1.20,1541.783333,26.691996,0.253168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660528,2022-10-24 19:10:00+05:30,2255.00,2255.90,2254.55,2255.80,199,2254.57,2255.310,2256.563333,2257.6950,...,49.178125,81.874937,7.598390e+01,45.272781,-70.652174,2.447174,1.35,2255.150000,21.097032,0.264783
660529,2022-10-24 19:11:00+05:30,2255.95,2255.95,2254.55,2255.75,227,2255.01,2255.170,2256.296667,2257.5225,...,77.569938,100.000000,9.395831e+01,50.828265,-60.326087,2.372376,1.40,2255.483333,21.480192,-0.180632
660530,2022-10-24 19:12:00+05:30,2256.25,2256.25,2255.35,2256.00,594,2255.21,2255.025,2256.046667,2257.2600,...,90.435435,100.000000,9.395831e+01,63.508973,-52.976190,2.267206,0.90,2255.950000,21.961213,-0.825419
660531,2022-10-24 19:13:00+05:30,2255.00,2255.95,2254.55,2255.50,267,2255.60,2254.820,2255.656667,2256.9350,...,86.623932,14.162538,7.138751e+01,60.803143,-53.043478,2.226691,1.70,2255.166667,22.556313,0.117191
660532,2022-10-24 19:14:00+05:30,2256.00,2259.00,2254.00,2255.00,365,2255.64,2254.910,2255.556667,2256.6450,...,67.179487,97.987590,7.071671e+01,52.011335,-44.776119,2.424785,5.00,2256.333333,23.018880,-0.254031

In [12]:
df

,date,close,high,low,open,volume,sma5,sma10,sma15,sma20,...,fastd,fastksr,fastdsr,ULTOSC,WILLR,ATR,Trange,TYPPRICE,HT_DCPERIOD,BETA
0,2015-02-02 10:18:00+05:30,648.00,648.25,647.85,648.25,9397,648.07,648.045,648.253333,648.9900,...,39.272031,36.637870,35.486396,55.185495,-44.186047,1.376547,0.40,648.033333,31.506676,-0.239150
1,2015-02-02 10:19:00+05:30,648.00,648.00,647.75,648.00,3549,648.07,648.065,648.126667,648.7500,...,35.407296,29.661573,43.501213,50.963105,-34.246575,1.296079,0.25,647.916667,31.823360,0.491916
2,2015-02-02 10:20:00+05:30,648.00,648.05,647.50,647.60,9355,648.05,648.165,648.033333,648.5925,...,35.407296,29.661573,31.987005,53.209449,-29.411765,1.242788,0.55,647.850000,31.664769,-0.262548
3,2015-02-02 10:21:00+05:30,648.25,648.30,648.00,648.00,35147,648.10,648.220,648.050000,648.4800,...,55.163043,100.000000,53.107715,57.247356,-22.058824,1.175446,0.30,648.183333,30.875867,0.869167
4,2015-02-02 10:22:00+05:30,649.00,649.00,648.00,648.00,53907,648.25,648.235,648.093333,648.3875,...,81.250000,100.000000,76.553858,70.536434,-0.000000,1.162914,1.00,648.666667,29.746696,0.198280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660471,2022-10-24 19:10:00+05:30,3310.95,3312.95,3310.00,3310.15,2893,3306.48,3302.095,3306.713333,3311.0000,...,92.890846,100.000000,100.000000,61.408730,-36.906585,4.760460,2.95,3311.300000,21.485941,0.232950
660472,2022-10-24 19:11:00+05:30,3315.00,3315.40,3310.00,3311.55,3268,3309.39,3303.795,3306.303333,3310.4500,...,93.960529,100.000000,100.000000,62.954729,-24.386503,4.806142,5.40,3313.466667,21.359833,1.102030
660473,2022-10-24 19:12:00+05:30,3314.00,3318.95,3314.00,3315.40,11299,3311.39,3305.525,3305.706667,3309.9450,...,84.373015,87.306367,95.768789,61.649279,-17.307692,4.816417,4.95,3315.650000,21.229908,1.109016
660474,2022-10-24 19:13:00+05:30,3319.00,3319.00,3314.00,3314.55,8642,3313.79,3307.625,3305.940000,3309.6450,...,88.097410,100.000000,95.768789,63.487283,-0.000000,4.829530,5.00,3317.333333,21.097357,0.915440
660475,2022-10-24 19:14:00+05:30,3320.00,3320.90,3315.60,3319.00,7317,3315.79,3309.740,3306.373333,3309.5425,...,86.210917,100.000000,95.768789,64.832172,-2.945990,4.863135,5.30,3318.833333,20.973327,1.003392

In [65]:
def conv_date(df):
    df['date'] =  pd.to_datetime(df['date'],infer_datetime_format=True,utc=False,errors='ignore')
    return df
df = conv_date(df)

In [27]:
r = df['date']

In [34]:
df['date'].index = r

In [36]:
k = df['date'].to_dict()

In [39]:
r.index = df['date']

In [41]:
k = r.to_dict()

In [47]:
import joblib

In [48]:
joblib.dump(k,'dates.pkl')

['dates.pkl']

In [35]:
import os
PATH = 'd2/src/'

files= [PATH+fp for fp in os.listdir('d2/src/') if '.csv' in fp]
names = [n[:-32] for n in files]

In [36]:
df = pd.read_csv(files[0])

In [41]:
df

,date,close,high,low,open,volume,sma5,sma10,sma15,sma20,...,fastd,fastksr,fastdsr,ULTOSC,WILLR,ATR,Trange,TYPPRICE,HT_DCPERIOD,BETA
0,2015-02-02 10:18:00+05:30,1660.60,1661.00,1659.70,1660.55,10,1660.59,1660.015,1660.070000,1660.2425,...,58.461538,36.533445,24.255619,64.822633,-35.849057,2.309034,1.30,1660.433333,23.656047,0.362549
1,2015-02-02 10:19:00+05:30,1660.40,1661.00,1660.10,1661.00,7,1660.38,1660.335,1660.030000,1660.2300,...,51.085098,47.775172,39.397611,67.610596,-39.622642,2.208389,0.90,1660.500000,22.970679,0.516529
2,2015-02-02 10:20:00+05:30,1659.50,1660.90,1659.50,1660.40,10,1660.24,1660.385,1659.996667,1660.1975,...,30.144928,0.000000,28.102873,58.320857,-56.603774,2.150647,1.40,1659.966667,22.290856,0.240563
3,2015-02-02 10:21:00+05:30,1660.20,1661.00,1659.50,1659.50,78,1660.25,1660.305,1660.116667,1660.2075,...,25.700483,67.017535,38.264236,47.647536,-43.396226,2.104172,1.50,1660.233333,21.666032,0.400882
4,2015-02-02 10:22:00+05:30,1659.75,1661.00,1659.75,1660.20,63,1660.09,1660.280,1660.166667,1660.0950,...,21.111111,23.550699,30.189411,46.371203,-51.886792,2.043160,1.25,1660.166667,21.098492,0.205909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671023,2022-10-24 19:10:00+05:30,3636.10,3638.35,3635.00,3638.25,889,3636.93,3637.720,3638.823333,3639.4900,...,56.879690,34.688897,72.776576,44.097330,-62.452107,4.225168,3.35,3636.483333,19.562342,0.212083
671024,2022-10-24 19:11:00+05:30,3636.00,3637.35,3635.00,3636.00,422,3636.73,3637.190,3638.510000,3639.0525,...,51.852818,31.660392,55.449763,45.462901,-63.218391,4.091227,2.35,3636.116667,19.096487,0.880558
671025,2022-10-24 19:12:00+05:30,3636.05,3638.00,3630.60,3635.00,653,3636.48,3636.605,3638.300000,3638.6025,...,53.623645,34.164669,33.504653,58.828042,-60.073260,4.327568,7.40,3634.883333,18.600992,-1.338067
671026,2022-10-24 19:13:00+05:30,3635.95,3639.00,3635.95,3636.00,527,3636.47,3636.250,3637.833333,3638.3475,...,52.929867,0.000000,21.941687,48.843243,-60.805861,4.236313,3.05,3636.966667,18.109474,0.678777
671027,2022-10-24 19:14:00+05:30,3637.00,3637.00,3630.60,3636.00,595,3636.22,3636.205,3637.566667,3638.2175,...,69.194272,100.000000,44.721556,54.832910,-53.113553,4.390862,6.40,3634.866667,17.695881,1.969615

In [40]:
!pip install --user pyarrow

Collecting pyarrow
  Downloading pyarrow-10.0.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (35.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.9/35.9 MB 3.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.16.6 in /glob/development-tools/versions/oneapi/2023.0/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from pyarrow) (1.22.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-10.0.1

In [ ]:
%%time
pd.read_csv(files[0],infer_datetime_format=True,parse_dates=[0])